%iframe{:allowfullscreen => "", :frameborder => "0", :height => "296", :src => "http://www.youtube.com/embed/cFgdQaCZW30", :width => "520"}

#unicef_logo
  = image_tag 'unicef11.png'

- if logged_in?
  .clearfix
    #buttons
      = link_to t('signed_in.ask_a_friend'), '#', :class => 'big-button'
      = link_to t('signed_in.donate'), donate_url(:token => current_user.donate_token), :class => 'big-button'
      = link_to t('signed_in.share'), donate_url(:token => current_user.donate_token), :class => 'big-button share'
      = link_to t('signed_in.tweet'), "http://twitter.com/home?status=#{CGI::escapeElement t('default_share_message')+' '+donate_url(:token => current_user.donate_token)}", :class => 'big-button', :target => '_blank'
      
    #blurb
      %h1=t 'signed_in.heading'
      %p=t 'signed_in.intro'

- else
  %h1=t 'anon.heading'
  %p=t 'anon.intro'
  #find_out_now
    = link_to t('anon.find_out'), login_path, :class => 'big-button', :remote => true
  
%h2=t 'leaderboard.heading'
#leaderboard
  %table
    - @leaders.each_with_index do |user, index|
      = render :partial => 'leaderboard/leader', :locals => {:user => user, :position => index+1}