%iframe{:allowfullscreen => "", :frameborder => "0", :height => "296", :src => "http://www.youtube.com/embed/cFgdQaCZW30", :width => "520"}

#unicef_logo
  = image_tag 'unicef11.png'

- if logged_in?
  .clearfix
    #buttons
      = link_to t('signed_in.ask_a_friend'), in_facebook_page_donate_url(current_user), :class => 'big-button tell'
      = link_to_function t('signed_in.donate'), %(top.location.href='#{in_facebook_page_donate_url(current_user)}'), :class => 'big-button'
      = link_to t('signed_in.share'), in_facebook_page_donate_url(current_user), :class => 'big-button share'
      = link_to_function t('signed_in.tweet'), "show_tweet_publish_popup('#{escape_javascript t('default_share_message')+' '+in_facebook_page_donate_url(current_user)}')", :class => 'big-button'
      
    #blurb
      %h1=t 'signed_in.heading'
      %p=t 'signed_in.intro'

- else
  %h1=t 'anon.heading'
  %p=t 'anon.intro'
  #find_out_now
    = link_to t('anon.find_out'), login_path, :class => 'big-button', :remote => true
  
%h2=t 'leaderboard.heading'
#leaderboard
  %table
    - @leaders.each_with_index do |user, index|
      = render :partial => 'leaderboard/leader', :locals => {:user => user, :position => index+1}