!!! Strict
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml", 'xmlns:og' => "http://opengraphprotocol.org/schema/"}
  %head
    %title Tiny boxes
    %meta{:content => "", :property => "fb:admins"}
    %meta{:content => "#{FB_APP_ID}", :property => "fb:app_id"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'rails', 'application'
    = csrf_meta_tag
    = javascript_tag %(window.fbAppId = '#{FB_APP_ID}')
    = javascript_tag %(window.loggedIn = #{logged_in?})
    = javascript_tag %(window.defaultDonateMessage = '#{escape_javascript t('default_share_message')}')
    %body
      =# render :partial => 'shared/sidebar'
      #wrapper
        /
          - if logged_in?
            %p
              logged in as
              = current_user.fbid
          - else
            = link_to 'Login', login_path, :remote => true
        = yield
        = yield :bottom
      #fb-root
      / Facebook
      %script{:src => "http://connect.facebook.net/en_US/all.js"}
      